<div class="general">
    <div class="contenedor">
        <div class="titulo">
            <p>Para calcular su índice de masa corporal, ingrese su estatura y peso.</p>
        </div>
        <form>
            <div class="contenedor-formulario-cuadros">
                <div class="estilo-cuadros">
                    <p class="header">Sistema métrico</p>
                    <p>ESTATURA</p>
                    <p>en centímetros:</p>
                    <input class="inputs">
                    <p>PESO</p>
                    <p>en kilogramos:</p>
                    <input class="inputs">
                    <div class="boton">
                        <button class="btn-estilos"> Calcular </button>
                    </div>
                </div>
                <div class="estilo-cuadros">
                    <p class="resultado"> resultado</p>
                </div>
            </div>

        </form>


    </div>
</div>