$blanco: #fff;
$grayNurse: #f6f7f6;
$quillGray: #e3e3e0;
$madison: #0b325e;
$shark: #222428;
$doveGray: #646464;
$crownOfThorns: #842029;
$cherub: #f8d7da;
$azalea: #f5c2c7;
$jewel: #0f5132;
$edgewater: #d1e7dd;
$Edgewater: #badbcc;
$congressBlue: #084298;
$onahau: #cfe2ff;
$frenchPass: #b6d4fe;
$antiqueBronze: #664d03;
$barleyWhite: #fff3cd;
$buttermilk: #ffecb5;
